<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PlayerName" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PacmanLifes" value="3" />
    <add key="MaxCountUnsuccessfulInstall" value="100" />
    <add key="MazeHeight" value="18" />
    <add key="MazeWidth" value="18" />
    <add key="PacmanCatchPause" value="3000" />
    <add key="EatingTime" value="200" />
    <add key="CountRowsInRecords" value="5" />
    <add key="PauseBetweenSteps" value="400" />
    <add key="PacmanRespointRow" value="1" />
    <add key="PacmanRespointCell" value="1" />
    <add key="MinRandomBlockLength" value="3" />
    <add key="MaxRandomBlockLength" value="5" />
    <add key="MinRandomBlockBranchLength" value="0" />
    <add key="MaxRandomBlockBranchLength" value="4" />
    <add key="ConnectionString" value="Records" />
    <add key="RuLanguagePath" value="Resources/lang.ru-RU.xaml"/>
    <add key="EnLanguagePath" value="Resources/lang.xaml"/>
    <add key="LanguageBasePath" value="Resources/lang."/>
    <add key="HeartsImagePath" value="../Resources/Images/heart.png"/>
    <add key="PacmanModelPath" value="\Resources\Models\Pacman\pacman.obj"/>
    <add key="EatingPacmanModelPath" value="\Resources\Models\Pacman\pacman2.obj"/>
    <add key="EnemyModelPath" value="\Resources\Models\Enemy\enemy.obj"/>
    <add key="WallModelPath" value="\Resources\Models\Wall\wall1.obj"/>
    <add key="GiftModelPath" value="\Resources\Models\Gift\defGift.obj"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <WpfApplication.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
    </WpfApplication.Properties.Settings>
  </userSettings>
</configuration>